{% extends 'default.html' %}

{% block conteudo %}
    <div id="cover">
        <div id="title">
            <h2>Produtos</h2>
            <div class="container" id="rule"></div>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <h2><strong>Sobre os Produtos DataCana</strong></h2>

            <p>
                São vários os produtos que os usuários da plataforma podem consultar e realizar o download para os municípios, regiões imediatas e intermediárias de Minas Gerais, acerca da produção canavieira:
            </p>

            <h2>Mapas Temáticos</h2>
            
            <h2>Gráficos</h2>
            
            <h2>Tabelas</h2>
        </div>
    </div>
{% endblock %}

{% block estilo %}
    <style>
        /* CAPA */

        main > div#cover {
            display: flex;
            background-image: url('../static/images/Capa.jpg');
            background-size: cover;
            align-items: center;
            justify-content: center;
        }

        main > div#cover > div#title > h2 {
            color: #FFFFFF;
            text-align: center;
            font-weight: bold;

            animation: fadeInDown;
            animation-duration: 0.75s;
        }

        main > div#cover > div#title > div#rule {
            border-bottom: 3px solid #FFFFFF;

            animation: zoomIn;
            animation-duration: 0.75s;
        }

        main > div#cover > div#title > div.container {
            max-width: 75%;
        }

        /* CONTEÚDO */

        main > div.content {
            background-color: #FFFFFF;
            color: #424242;
            margin: 25px 0px;
            padding: 24px;
        }

        main > div.content > div.container {
            margin-top: 2.25rem;
            margin-bottom: 2.25rem;
        }

        main > div.content > div.container > h2 {
            font-size: 1.60rem;
            margin-bottom: 1.75rem;
        }

        main > div.content > div.container > p {
            text-align: justify;
            text-indent: 2.5rem;
            font-size: 1.10rem;
        }

        main > div.content > div.container > p > a {
            color: #424242;
            text-decoration: none;
        }

        main > div.content > div.container > p > a:hover {
            text-decoration: underline;
        }

        /* MEDIA-QUERY PARA DISPOSITIVOS */

        /* DISPOSITIVOS GRANDES */

        @media screen and (min-width: 768px) {
            main > div#cover {
                background-position: center;
                height: 65vh;
            }

            main > div#cover > div#title > h2 {
                font-size: 42px;
            }
        }

        /* DISPOSITIVOS PEQUENOS */

        @media screen and (max-width: 768px) {
            main > div#cover {
                background-position: right bottom;
                height: 42vh;
            }

            main > div#cover > div#title > h2 {
                font-size: 35px;
            }
        }
    </style>
{% endblock %}