{% extends 'default.html' %}

{% block conteudo %}
    <div id="cover">
        <div id="title">
            <h2>Projeto DataCana</h2>
            <div class="container" id="rule"></div>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <p>
                O DataCana consiste em um banco de dados digital para disponibilização de
                informações geradas com o mapeamento do cultivo da cana-de-açúcar em
                Minas Gerais.
            </p>

            <p>
                O Projeto surgiu em 2018 fomentado pelo interesse nos impactos
                socioambientais e econômicos da expansão da cana-de-açúcar no estado
                mineiro. Em 2022, contou com recursos financeiros da Fundação de Amparo à
                Pesquisa do Estado de Minas Gerais (FAPEMIG), por meio da aprovação da
                proposta no Edital Universal, projeto APQ APQ-01102-22, o que possibilitou a
                implementação da plataforma web.
            </p>

            <p>
                Seu principal objetivo é monitorar a expansão canavieira, por meio de técnicas
                de geoprocessamento e produtos de sensoriamento remoto, em Minas Gerais.
                A importância do DataCana está no fato de que o Brasil é o maior produtor
                mundial de cana-de-açúcar, sendo que o ranking da produção é liderado por
                São Paulo, seguido de Goiás e Minas Gerais.
            </p>

            <p>
                Durante o período de 2003 a 2014, o
                <a href="http://www.dsr.inpe.br/laf/canasat/index.html">CANASAT</a> monitorou as safras no Centro-
                Sul do Brasil, mas o encerramento de sua versão pública deixou uma lacuna no
                fornecimento dessas estimativas.
            </p>

            <p>
                Atualmente, o MapBiomas tem feito um trabalho de excelência ao divulgar os
                dados do uso da terra em todo o Brasil, detalhando, inclusive, a produção
                canavieira. Foi com base na utilização e análise destes dados que surgiu o
                DataCana. Pois, verificou-se que a metodologia de aquisição dos dados
                disponibilizados pelo MapBiomas, no estado de Minas Gerais, incorreu em uma
                subestimativa da área ocupada pela cana.
            </p>

            <p>
                Assim, a plataforma web DataCana surge como mais uma alternativa à
                disponibilização de dados da produção de cana-de-açúcar em escala estadual,
                contribuindo à divulgação científica, à geração de dados, ao fornecimento de
                estimativas anuais e no auxílio às políticas públicas para o setor.
            </p>
        </div class="container">
    </div>
{% endblock %}

{% block estilo %}
<style>
    /* CAPA */

    main > div#cover {
        display: flex;
        background-image: url('../static/images/Capa.jpg');
        background-size: cover;
        align-items: center;
        justify-content: center;
    }

    main > div#cover > div#title > h2 {
        color: #FFFFFF;
        text-align: center;
        font-weight: bold;

        animation: fadeInDown;
        animation-duration: 0.75s;
    }

    main > div#cover > div#title > div#rule {
        border-bottom: 3px solid #FFFFFF;

        animation: zoomIn;
        animation-duration: 0.75s;
    }

    main > div#cover > div#title > div.container {
        max-width: 75%;
    }

    /* CONTEÚDO */

    main > div.content {
        background-color: #FFFFFF;
        color: #424242;
        margin: 25px 0px;
        padding: 24px;
    }

    main > div.content > div.container {
        margin-top: 2.25rem;
        margin-bottom: 2.25rem;
    }

    main > div.content > div.container > div#row-01 > div#col-01 {
        text-align: start;
    }

    main > div.content > div.container > div#row-01 > div#col-01 > h1 {
        font-weight: bolder;
        margin-bottom: 32px;
    }

    main > div.content > div.container > div#row-01 > div#col-01 > p {
        font-size: 20px;
    }

    main > div.content > div.container > div#row-01 > div#col-02 > a > div#map {
        background-color: transparent;
        width: 100%;
    }

    main > div.content > div.container > div#row-02 {
        margin-top: 32px;
    }

    main > div.content > div.container > div#row-02 > div.col-md > div.d-flex {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    main > div.content > div.container > div#row-02 > div.col-md > div.d-flex > div#square {
        border-radius: 8px;
        box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.2);
    }

    main > div.content > div.container > div#row-02 > div.col-md > div.d-flex > div#square > h2 {
        margin: 0px;
        padding: 16px;
    }

    main > div.content > div.container > div#row-02 > div.col-md > div.d-flex > div#square > div#text {
        background-color: #9FD97C;
        padding: 16px;
        border-radius: 0px 0px 8px 8px;
    }

    main > div.content > div.container > div#row-02 > div.col-md > div.d-flex > div#square > div#text > p {
        margin: 0px;
        font-size: 18px;
    }

    main > div.content > div.container > div#row-02 > div.col-md > div.d-flex > div#square > div#text > p#odometer {
        margin: 0px;
        font-size: 48px;
    }

    button.btn {
        background-color: #9FD97C;
        border: none;
        border-radius: 16px;
        width: 250px;
        padding: 16px 24px;
        box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.2);
    }

    button.btn a {
        color: #424242;
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
    }

    /* MEDIA-QUERY PARA DISPOSITIVOS */

    /* DISPOSITIVOS GRANDES */

    @media screen and (min-width: 768px) {
        main > div#cover {
            background-position: center;
            height: 65vh;
        }

        main > div#cover > div#title > h2 {
            font-size: 42px;
        }

        main > div.content > div.container > div#row-02 > div.col-md > div.d-flex > div#square {
            width: 35%;
        }

        main > div.content > div.container > div#row-01 > div#col-01 > h1 {
            font-size: 55px;
        }

        main > div.content > div.container > div#row-02 > div.col-md > div.d-flex > button#tel {
            display: none;
        }

        main > div.content > div.container > div#row-01 > div#col-01 > button#pc {
            display: inline-block;
            margin-top: 16px;
        }

        main > div.content > div.container > div#row-01 > div#col-02 > a > div#map {
            height: 450px;
        }
    }

    /* DISPOSITIVOS PEQUENOS */

    @media screen and (max-width: 768px) {
        main > div#cover {
            background-position: right bottom;
            height: 42vh;
        }

        main > div#cover > div#title > h2 {
            font-size: 35px;
        }

        main > div.content > div.container > div#row-02 > div.col-md > div.d-flex > div#square {
            width: 100%;
        }

        main > div.content > div.container > div#row-01 > div#col-01 > h1 {
            font-size: 36px;
        }

        main > div.content > div.container > div#row-02 > div.col-md > div.d-flex > button#tel {
            display: inline-block;
        }

        main > div.content > div.container > div#row-01 > div#col-01 > button#pc {
            display: none;
        }

        main > div.content > div.container > div#row-01 > div#col-02 > a > div#map {
            height: 250px;
        }
    }
</style>
{% endblock %}