{% extends 'default.html' %}

{% block conteudo %}
    <div id="cover">
        <div id="title">
            <h2>Projeto</h2>
            <div class="container" id="rule"></div>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <h2><strong>Sobre o Projeto DataCana</strong></h2>

            <p>
                O DataCana consiste em um banco de dados digital para disponibilização de informações geradas com o mapeamento do cultivo da cana-de-açúcar em Minas Gerais.
            </p>

            <p>
                O projeto surgiu em 2018 fomentado pelo interesse nos impactos socioambientais e econômicos da expansão da cana-de-açúcar no estado mineiro. Em 2022, contou com recursos financeiros da <strong>Fundação de Amparo à Pesquisa do Estado de Minas Gerais (FAPEMIG)</strong>, por meio da aprovação da proposta no Edital Universal, projeto de Auxílio à Pesquisa (APQ) <strong>APQ-01102-22</strong>, o que possibilitou a implementação da plataforma web.
            </p>

            <p>
                Seu principal objetivo é monitorar a expansão canavieira, por meio de técnicas de <strong>geoprocessamento</strong> e produtos de <strong>sensoriamento remoto</strong>, em Minas Gerais. A importância do DataCana está no fato de que o Brasil é o maior produtor mundial de cana-de-açúcar, sendo que o ranking da produção é liderado por São Paulo, seguido de Goiás e Minas Gerais.
            </p>

            <p>
                Durante o período de 2003 a 2014, o <a href="http://www.dsr.inpe.br/canasat/mapa/ajuda/" target="_blank" rel="external">CANASAT<svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#424242" style="padding-bottom: 2px;"><path d="M216-144q-29.7 0-50.85-21.15Q144-186.3 144-216v-528q0-29.7 21.15-50.85Q186.3-816 216-816h264v72H216v528h528v-264h72v264q0 29.7-21.15 50.85Q773.7-144 744-144H216Zm171-192-51-51 357-357H576v-72h240v240h-72v-117L387-336Z"/></svg></a> monitorou as safras no Centro-Sul do Brasil, mas o encerramento de sua versão pública deixou uma lacuna no fornecimento dessas estimativas.
            </p>

            <p>
                Atualmente, o MapBiomas tem feito um trabalho de excelência ao divulgar os dados do uso da terra em todo o Brasil, detalhando, inclusive, a produção canavieira. Foi com base na utilização e análise destes dados que surgiu o DataCana. Pois, verificou-se que a metodologia de aquisição dos dados disponibilizados pelo MapBiomas, no estado de Minas Gerais, incorreu em uma subestimativa da área ocupada pela cana.
            </p>

            <p>
                Assim, a <strong>plataforma web DataCana</strong> surge como mais uma alternativa à disponibilização de dados da produção de cana-de-açúcar em escala estadual, contribuindo à divulgação científica, à geração de dados, ao fornecimento de estimativas anuais e no auxílio às políticas públicas para o setor.
            </p>
        </div>
    </div>
{% endblock %}

{% block estilo %}
    
{% endblock %}