{% extends 'default.html' %}

{% block conteudo %}
<div id="cover">
    <div id="title">
        <h2>Equipe</h2>
        <div class="container" id="rule"></div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="mb-4">
            <h2>Coordenação</h1>
            <div id="coordCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card mx-auto" style="max-width: 580px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="../../static/images/About/Team/jussara.jpg" class="img-fluid rounded-start" alt="Jussara Rosendo Foto">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Profa. Dra. Jussara dos Santos Rosendo</h5>
                                        <p class="card-text">Doutora em
                                            Geografia, docente do curso de Geografia e do Programa de Pós-graduação
                                            em Geografia do Pontal (PPGEP), campus Pontal, da Universidade Federal de
                                            Uberlândia, situado na cidade de Ituiutaba-MG</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#coordCarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#coordCarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="mb-4">
            <h2>Desenvolvedores</h1>
            <div id="devCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card mx-auto" style="max-width: 580px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="../../static/images/About/Team/gustavo.jpg" class="img-fluid rounded-start" alt="Gustavo Martins Foto">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Gustavo Martins Corrêa dos Santos</h5>
                                        <p class="card-text">Doutora em
                                            Geografia, docente do curso de Geografia e do Programa de Pós-graduação
                                            em Geografia do Pontal (PPGEP), campus Pontal, da Universidade Federal de
                                            Uberlândia, situado na cidade de Ituiutaba-MG</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card mx-auto" style="max-width: 580px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="../../static/images/About/Team/pedrodev.jpeg" class="img-fluid rounded-start" alt="Pedro Kourly Foto">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Pedro Henrique Assis Kourly</h5>
                                        <p class="card-text">Graduando em Ciência da Computação, pelo Instituto Federal do Triângulo Mineiro (IFTM) - campus Ituiutaba-MG</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card mx-auto" style="max-width: 580px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="..." class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Leandro Guimarães Medeiros</h5>
                                        <p class="card-text">Doutora em
                                            Geografia, docente do curso de Geografia e do Programa de Pós-graduação
                                            em Geografia do Pontal (PPGEP), campus Pontal, da Universidade Federal de
                                            Uberlândia, situado na cidade de Ituiutaba-MG</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#devCarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#devCarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="mb-4">
            <h2>Equipe responsável pelo mapeamento</h1>
            <div id="mapTeamCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card mx-auto" style="max-width: 580px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="../../static/images/About/Team/bruna.jpg" class="img-fluid rounded-start" alt="Bruna Aparecida Foto">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Dra. Bruna Aparecida Silva Dias</h5>
                                        <p class="card-text">Geógrafa, pesquisadora e bolsista na
                                        EMBRAPA Agricultura Digital.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card mx-auto" style="max-width: 580px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="../../static/images/About/Team/erik.jpg" class="img-fluid rounded-start" alt="Érik Donis Foto">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Érik Donis de Melo</h5>
                                        <p class="card-text">graduando em Geografia</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card mx-auto" style="max-width: 580px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="../../static/images/About/Team/bruno.jpg" class="img-fluid rounded-start" alt="Bruno José Foto">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Bruno José Figueiredo Parreira</h5>
                                        <p class="card-text">graduando em Geografia</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card mx-auto" style="max-width: 580px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="../../static/images/About/Team/jessica.jpg" class="img-fluid rounded-start" alt="Jessica da Silva Foto">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Jéssica da Silva Ribeiro</h5>
                                        <p class="card-text">graduanda em Geografia</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card mx-auto" style="max-width: 580px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="../../static/images/About/Team/pedro.jpg" class="img-fluid rounded-start" alt="Pedro Trevisan Foto">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Pedro Trevisan de Oliveira</h5>
                                        <p class="card-text">graduando em Ciência da Computação</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#mapTeamCarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#mapTeamCarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block estilo %}
<style>
    /* CAPA */

    main>div#cover {
        display: flex;
        background-image: url('../static/images/Capa.jpg');
        background-size: cover;
        align-items: center;
        justify-content: center;
    }

    main>div#cover>div#title>h2 {
        color: #FFFFFF;
        text-align: center;
        font-weight: bold;

        animation: fadeInDown;
        animation-duration: 0.75s;
    }

    main>div#cover>div#title>div#rule {
        border-bottom: 3px solid #FFFFFF;

        animation: zoomIn;
        animation-duration: 0.75s;
    }

    main>div#cover>div#title>div.container {
        max-width: 75%;
    }

    /* CONTEÚDO */

    main>div.content {
        background-color: #FFFFFF;
        color: #424242;
        margin: 25px 0px;
        padding: 24px;
    }

    main>div.content>div.container {
        margin-top: 2.25rem;
        margin-bottom: 2.25rem;
    }

    main>div.content>div.container>div#row-01>div#col-01 {
        text-align: start;
    }

    main>div.content>div.container>div#row-01>div#col-01>h1 {
        font-weight: bolder;
        margin-bottom: 32px;
    }

    main>div.content>div.container>div#row-01>div#col-01>p {
        font-size: 20px;
    }

    main>div.content>div.container>div#row-01>div#col-02>a>div#map {
        background-color: transparent;
        width: 100%;
    }

    main>div.content>div.container>div#row-02 {
        margin-top: 32px;
    }

    main>div.content>div.container>div#row-02>div.col-md>div.d-flex {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    main>div.content>div.container>div#row-02>div.col-md>div.d-flex>div#square {
        border-radius: 8px;
        box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.2);
    }

    main>div.content>div.container>div#row-02>div.col-md>div.d-flex>div#square>h2 {
        margin: 0px;
        padding: 16px;
    }

    main>div.content>div.container>div#row-02>div.col-md>div.d-flex>div#square>div#text {
        background-color: #9FD97C;
        padding: 16px;
        border-radius: 0px 0px 8px 8px;
    }

    main>div.content>div.container>div#row-02>div.col-md>div.d-flex>div#square>div#text>p {
        margin: 0px;
        font-size: 18px;
    }

    main>div.content>div.container>div#row-02>div.col-md>div.d-flex>div#square>div#text>p#odometer {
        margin: 0px;
        font-size: 48px;
    }

    button.btn {
        background-color: #9FD97C;
        border: none;
        border-radius: 16px;
        width: 250px;
        padding: 16px 24px;
        box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.2);
    }

    button.btn a {
        color: #424242;
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
    }

    /* MEDIA-QUERY PARA DISPOSITIVOS */

    /* DISPOSITIVOS GRANDES */

    @media screen and (min-width: 768px) {
        main>div#cover {
            background-position: center;
            height: 65vh;
        }

        main>div#cover>div#title>h2 {
            font-size: 42px;
        }

        main>div.content>div.container>div#row-02>div.col-md>div.d-flex>div#square {
            width: 35%;
        }

        main>div.content>div.container>div#row-01>div#col-01>h1 {
            font-size: 55px;
        }

        main>div.content>div.container>div#row-02>div.col-md>div.d-flex>button#tel {
            display: none;
        }

        main>div.content>div.container>div#row-01>div#col-01>button#pc {
            display: inline-block;
            margin-top: 16px;
        }

        main>div.content>div.container>div#row-01>div#col-02>a>div#map {
            height: 450px;
        }
    }

    /* DISPOSITIVOS PEQUENOS */

    @media screen and (max-width: 768px) {
        main>div#cover {
            background-position: right bottom;
            height: 42vh;
        }

        main>div#cover>div#title>h2 {
            font-size: 35px;
        }

        main>div.content>div.container>div#row-02>div.col-md>div.d-flex>div#square {
            width: 100%;
        }

        main>div.content>div.container>div#row-01>div#col-01>h1 {
            font-size: 36px;
        }

        main>div.content>div.container>div#row-02>div.col-md>div.d-flex>button#tel {
            display: inline-block;
        }

        main>div.content>div.container>div#row-01>div#col-01>button#pc {
            display: none;
        }

        main>div.content>div.container>div#row-01>div#col-02>a>div#map {
            height: 250px;
        }
    }
</style>
{% endblock %}