{% extends 'default.html' %}

{% block conteudo %}
    <div id="cover">
        <div id="title">
            <h2>Equipe</h2>
            <div class="container" id="rule"></div>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <div class="mb-4">
                <h2>Coordenação</h2>

                <div id="coordCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="card mx-auto">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="../../static/images/About/Team/jussara.jpg" class="img-fluid rounded-start" alt="Jussara Rosendo Foto">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Profa. Dra. Jussara dos Santos Rosendo</h5>
                                            <p class="card-text">Doutora em Geografia, docente do curso de Geografia e do Programa de Pós-graduação em Geografia do Pontal (PPGEP), campus Pontal, da Universidade Federal de Uberlândia (UFU), situada na cidade de Ituiutaba-MG.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-4">
                <h2>Equipe de Desenvolvedores</h2>

                <div id="devCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="3000">
                            <div class="card mx-auto">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="../../static/images/About/Team/gustavo.jpg" class="img-fluid rounded-start" alt="Gustavo Martins Foto">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Gustavo Martins Corrêa dos Santos</h5>
                                            <p class="card-text">Graduando em Engenharia da Computação pela Universidade do Estado de Minas Gerais (UEMG), situada na cidade de Ituiutaba-MG.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="3000">
                            <div class="card mx-auto">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="../../static/images/About/Team/pedrodev.jpg" class="img-fluid rounded-start" alt="Pedro Kourly Foto">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Pedro Henrique Assis Kourly</h5>
                                            <p class="card-text">Graduando em Ciência da Computação pelo Instituto Federal do Triângulo Mineiro (IFTM), situado na cidade de Ituiutaba-MG.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="3000">
                            <div class="card mx-auto">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="../../static/images/About/Team/leandro.jpg" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Leandro Guimarães Medeiros</h5>
                                            <p class="card-text">Técnico em Tecnologia da Informação na Universidade Federal de Uberlândia (UFU) e Graduando em Engenharia Agronômica na Universidade do Estado de Minas Gerais (UEMG), situada na cidade de Ituiutaba-MG.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#devCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#devCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

            <div class="mb-4">
                <h2>Equipe de Mapeamento</h2>

                <div id="mapTeamCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="3000">
                            <div class="card mx-auto">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="../../static/images/About/Team/bruna.jpg" class="img-fluid rounded-start" alt="Bruna Aparecida Foto">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Dra. Bruna Aparecida Silva Dias</h5>
                                            <p class="card-text">Geógrafa, pesquisadora e bolsista na Empresa Brasileira de Pesquisa Agropecuária (EMBRAPA) Agricultura Digital.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="3000">
                            <div class="card mx-auto">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="../../static/images/About/Team/erik.jpg" class="img-fluid rounded-start" alt="Érik Donis Foto">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Érik Donis de Melo</h5>
                                            <p class="card-text">Graduando em Geografia pela Universidade Federal de Uberlândia (UFU), campus Pontal e Bolsista de Iniciação Científica do Conselho Nacional de Desenvolvimento Científico e Tecnológico (CNPq).</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="3000">
                            <div class="card mx-auto">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="../../static/images/About/Team/bruno.jpg" class="img-fluid rounded-start" alt="Bruno José Foto">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Bruno José Figueiredo Parreira</h5>
                                            <p class="card-text">Graduando em Geografia pela Universidade Federal de Uberlândia (UFU), campus Pontal e Bolsista de Iniciação Científica da Fundação de Amparo à Pesquisa de Minas Gerais (FAPEMIG).</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="3000">
                            <div class="card mx-auto">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="../../static/images/About/Team/jessica.jpg" class="img-fluid rounded-start" alt="Jessica da Silva Foto">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Jéssica da Silva Ribeiro</h5>
                                            <p class="card-text">Graduanda em Geografia pela Universidade Federal de Uberlândia (UFU), campus Pontal e Bolsita de Iniciação Científica do Conselho Nacional de Desenvolvimento Científico e Tecnológico (CNPq).</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="3000">
                            <div class="card mx-auto">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="../../static/images/About/Team/pedro.jpg" class="img-fluid rounded-start" alt="Pedro Trevisan Foto">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Pedro Trevisan de Oliveira</h5>
                                            <p class="card-text">Graduando em Ciência da Computação.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#mapTeamCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#mapTeamCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block estilo %}
    <style>
        /* CAPA */

        main > div#cover {
            display: flex;
            background-image: url('../static/images/Capa.jpg');
            background-size: cover;
            align-items: center;
            justify-content: center;
        }

        main > div#cover > div#title > h2 {
            color: #FFFFFF;
            text-align: center;
            font-weight: bold;

            animation: fadeInDown;
            animation-duration: 0.75s;
        }

        main > div#cover > div#title > div#rule {
            border-bottom: 3px solid #FFFFFF;

            animation: zoomIn;
            animation-duration: 0.75s;
        }

        main > div#cover > div#title > div.container {
            max-width: 75%;
        }

        /* CONTEÚDO */

        main > div.content {
            background-color: #FFFFFF;
            color: #424242;
            margin: 25px 0px;
            padding: 24px;
        }

        main > div.content > div.container {
            margin-top: 2.25rem;
            margin-bottom: 2.25rem;
        }

        main > div.content > div.container > h2 {
            font-size: 1.60rem;
            font-weight: bold;
            margin-bottom: 1.75rem;
        }

        main > div.content > div.container > p {
            text-align: justify;
            text-indent: 2.5rem;
            font-size: 1.10rem;
        }

        main > div.content > div.container > p > a {
            color: #424242;
            text-decoration: none;
        }

        main > div.content > div.container > p > a:hover {
            text-decoration: underline;
        }

        main > div.content > div.container > div.mb-4 > h2 {
            font-size: 1.60rem;
            font-weight: bold;
            margin-bottom: 1.75rem;
        }

        main > div.content > div.container > div.mb-4 > div.carousel > div.carousel-inner > div.carousel-item > div.card {
            box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.2);
        }

        /* MEDIA-QUERY PARA DISPOSITIVOS */

        /* DISPOSITIVOS GRANDES */

        @media screen and (min-width: 768px) {
            main > div#cover {
                background-position: center;
                height: 65vh;
            }

            main > div#cover > div#title > h2 {
                font-size: 42px;
            }

            main > div.content > div.container > div.mb-4 > h2 {
                text-align: left;
            }

            main > div.content > div.container > div.mb-4 > div.carousel > div.carousel-inner > div.carousel-item > div.card {
                max-width: 650px;
            }
        }

        /* DISPOSITIVOS PEQUENOS */

        @media screen and (max-width: 768px) {
            main > div#cover {
                background-position: right bottom;
                height: 42vh;
            }

            main > div#cover > div#title > h2 {
                font-size: 35px;
            }

            main > div.content > div.container > div.mb-4 > h2 {
                text-align: center;
            }

            main > div.content > div.container > div.mb-4 > div.carousel > div.carousel-inner > div.carousel-item > div.card {
                min-height: 560px;
                max-width: 280px;
            }

            main > div.content > div.container > div.mb-4 > div.carousel > button.carousel-control-prev {
                margin-left: -32px;
            }

            main > div.content > div.container > div.mb-4 > div.carousel > button.carousel-control-next {
                margin-right: -32px;
            }
        }

        @media screen and (min-width: 768px) and (max-width: 992px) {
            main > div.content > div.container > div.mb-4 > div.carousel > button.carousel-control-prev {
                margin-left: -64px;
            }

            main > div.content > div.container > div.mb-4 > div.carousel > button.carousel-control-next {
                margin-right: -64px;
            }
        }
    </style>
{% endblock %}