/* Page: Team StyleSheet */

/* 

INDEX

    1. Content
        1.2. Carousel
            1.2.1. Carousel Item
                1.2.1.1. Carton
                    1.2.1.1.1. Carton Image
                    1.2.1.1.2. Carton Body
                        1.2.1.1.2.1. Carton Title
                        1.2.1.1.2.2. Carton Text
            1.2.2. Carousel Indicators
                1.2.2.1. Button            

    @ Media-Query Tablet MEDIUM
    
*/

/* 1.2. Content > Carousel */

div.Team > div.content > div.container > article > div.carousel {
    margin-bottom: 48px;
}

/* 1.2.1. Content > Carousel > Carousel Item */

div.Team > div.content > div.container > article > div.carousel > div.carousel-inner > div.carousel-item {
    padding: 0px 8px;
}

/* 1.2.1.1. Content > Carousel > Carousel Item > Carton */

div.Team > div.content > div.container > article > div.carousel > div.carousel-inner > div.carousel-item > div.carton {
    position: relative;
    
    display: flex;
    flex-direction: column;

    overflow: hidden;

    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.25);

    margin: 8px auto;
    max-width: 336px;
    min-height: 600px;

    box-shadow: 0rem 0rem 0.50rem rgba(0, 0, 0, 0.25);
}

/* 1.2.1.1.1. Content > Carousel > Carousel Item > Carton > Carton Image */

div.Team > div.content > div.container > article > div.carousel > div.carousel-inner > div.carousel-item > div.carton > div.carton-image > img {
    width: 100%;
}

/* 1.2.1.1.2. Content > Carousel > Carousel Item > Carton > Carton Body */

div.Team > div.content > div.container > article > div.carousel > div.carousel-inner > div.carousel-item > div.carton > div.carton-body {
    padding: 24px 16px;
}

/* 1.2.1.1.2.1. Content > Carousel > Carousel Item > Carton > Carton Body > Carton Title */

div.Team > div.content > div.container > article > div.carousel > div.carousel-inner > div.carousel-item > div.carton > div.carton-body > h3 {
    font-size: 20px;
}

/* 1.2.1.1.2.2. Content > Carousel > Carousel Item > Carton > Carton Body > Carton Text */

div.Team > div.content > div.container > article > div.carousel > div.carousel-inner > div.carousel-item > div.carton > div.carton-body > p.carton-text {
    font-size: 16px;
    text-align: justify;
}

/* 1.2.2. Content > Carousel > Carousel Indicators */

div.Team > div.content > div.container > article > div.carousel > div.carousel-indicators {
    position: absolute;

    bottom: -40px;
}

/* 1.2.2.1. Content > Carousel > Carousel Indicators > Button */

div.Team > div.content > div.container > article > div.carousel > div.carousel-indicators > button {
    height: 3px;
}



/* Media-Query Tablet MEDIUM */

@media (min-width: 768px) { 
    div.Team > div.content > div.container > article > div.carousel > div.carousel-inner > div.carousel-item > div.carton {
        flex-direction: row;

        max-width: 624px;
        min-height: unset;
    }

    div.Team > div.content > div.container > article > div.carousel > div.carousel-inner > div.carousel-item > div.carton > div.carton-image {
        flex: 0 0 40%;
    }

    div.Team > div.content > div.container > article > div.carousel > div.carousel-inner > div.carousel-item > div.carton > div.carton-body {
        flex: 0 0 60%;
    }
}