{% extends 'default.html' %}

{% block conteudo %}
    <div id="cover">
        <div id="title">
            <h2>Downloads</h2>
            <div class="container" id="rule"></div>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nome do Arquivo</th>
                        <th scope="col">Ano do Arquivo</th>
                        <th scope="col">Link Download</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>data.csv</td>
                        <td>2018</td>
                        <td><a href="/downloadData">Download</a><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#0d6efd"><path d="M480-336 288-528l51-51 105 105v-342h72v342l105-105 51 51-192 192ZM263.72-192Q234-192 213-213.15T192-264v-72h72v72h432v-72h72v72q0 29.7-21.16 50.85Q725.68-192 695.96-192H263.72Z"/></svg></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block estilo %}
    <style>
        /* CAPA */

        main > div#cover {
            display: flex;
            background-image: url('../static/images/Capa.jpg');
            background-size: cover;
            align-items: center;
            justify-content: center;
        }

        main > div#cover > div#title > h2 {
            color: #FFFFFF;
            text-align: center;
            font-weight: bold;

            animation: fadeInDown;
            animation-duration: 0.75s;
        }

        main > div#cover > div#title > div#rule {
            border-bottom: 3px solid #FFFFFF;

            animation: zoomIn;
            animation-duration: 0.75s;
        }

        main > div#cover > div#title > div.container {
            max-width: 75%;
        }

        /* CONTEÚDO */

        main > div.content {
            background-color: #FFFFFF;
            color: #424242;
            margin: 25px 0px;
            padding: 24px;
        }

        main > div.content > div.container {
            margin-top: 2.25rem;
            margin-bottom: 2.25rem;
        }

        main > div.content > div.container > h2 {
            font-size: 1.60rem;
            margin-bottom: 1.75rem;
        }

        main > div.content > div.container > p {
            text-align: justify;
            text-indent: 2.5rem;
            font-size: 1.10rem;
        }

        main > div.content > div.container > p > a {
            color: #424242;
            text-decoration: none;
        }

        main > div.content > div.container > p > a:hover {
            text-decoration: underline;
        }

        /* MEDIA-QUERY PARA DISPOSITIVOS */

        /* DISPOSITIVOS GRANDES */

        @media screen and (min-width: 768px) {
            main > div#cover {
                background-position: center;
                height: 65vh;
            }

            main > div#cover > div#title > h2 {
                font-size: 42px;
            }
        }

        /* DISPOSITIVOS PEQUENOS */

        @media screen and (max-width: 768px) {
            main > div#cover {
                background-position: right bottom;
                height: 42vh;
            }

            main > div#cover > div#title > h2 {
                font-size: 35px;
            }
        }
    </style>
{% endblock %}