{% extends 'default.html' %}

{% block conteudo %}
    <div id="cover">
        <div id="title">
            <h2>Procedimentos</h2>
            <div class="container" id="rule"></div>
        </div>
    </div>
    
    <div class="content">
        <div class="container">
            <h2><strong>Metodologia Procedimental</strong></h2>

            <p>
                A estratégia experimental adotada foi dividida nas seguintes etapas:
            </p>

            <h2><strong>1. Fundamentação Teórica</strong></h2>

            <p>
                1.1. A busca por referencial teórico englobou a expansão canavieira e os impactos a ela associados; a consulta aos dados de órgãos oficiais, e; as técnicas de geoprocessamento e sensoriamento remoto mais eficientes para se alcançar os objetivos propostos.
            </p>
            
            <h2><strong>2. Mapeamento da Cana-de-açúcar</strong></h2>

            <p>
                2.1. Acesso ao <i>asset</i> de dados no <em>Google Earth Engine</em> do MapBiomas, download e conversão dos dados no formato <em>shapefile</em>;
            </p>

            <p>
                2.2. Conferência de todos os polígonos classificados como cana-de-açúcar;
            </p>

            <p>
                2.3. Correção dos erros de omissão e comissão dos polígonos;
            </p>

            <p>
                2.4. Trabalhos de campo nas áreas produtoras para validação do mapeamento;
            </p>

            <p>
                2.5. Elaboração dos mapas de cana-de-açúcar a partir do ano 2016, e da expansão das áreas cultivadas nos anos subsequentes.
            </p>

            <h2><strong>3. Organização do Banco de Dados Digital DataCana</strong></h2>

            <p>
                3.1. A estruturação do DataCana deverá garantir fácil acesso às estimativas elaboradas;
            </p>

            <p>
                3.2. A disponibilização gratuita dos dados na forma de mapas, tabelas e gráficos, por qualquer usuário com acesso
                à plataforma ocorre para o recorte espacial de municípios, regiões imediatas e intermediárias de Minas Gerais.
            </p>

            <h2><strong>4. Publicação dos Resultados e Confecção do Relatório Final</strong></h2>

            <p>
                4.1. A publicação dos dados no DataCana ocorre à medida em que os resultados de mapeamento vão sendo validados;
            </p>

            <p>
                4.2. Outra fase de publicação consiste na divulgação das estimativas realizadas em periódicos científicos, congressos e palestras;
            </p>

            <p>
                4.3. O relatório final elaborado contemplará a síntese dos resultados alcançados com o projeto e a demonstração do funcionamento do DataCana, previsto para ser concluído em junho de 2025.
            </p>

        </div>
    </div>
{% endblock %}

{% block estilo %}
    
{% endblock %}