@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

:root {
    --default-font: 'Rethink Sans', sans-serif;
    --color-font: #0D0D0D;

    --color01: #03A65A;
    --color02: #0ABF6A;
    --color03: #86D95F;
    --color04: #C2F279;
    --color05: #D8F2A0;

    --color-header: #FFFFFF;
}

/* CONFIGURAÇÕES GLOBAIS */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--default-font);
    background-color: #e0e0e0;
}

/* HEADER */

header {
    background-color: var(--color-header);
    display: flex;
    align-items: center;
    margin: 0px auto;
    padding: 15px 0px;
}

header > div.container > div.d-flex > a > img {
    width: 100px;
    height: 60px;
}

header > div.container > div.d-flex > nav > a {
    color: var(--color-font);
    text-decoration: none;
    margin: 0px 10px;
}

header > div.container > div.d-flex > nav > a:hover {
    color: var(--color02);
}

header > div.container > div.d-flex > button {
    background-color: var(--color-header);
    display: flex;
    align-items: center;
    border: none;
}

/* MAIN */

main > div#cover {
    display: flex;
    background-image: url('../static/images/Capa.jpg');
    background-size: cover;
    align-items: center;
    justify-content: center;
}

main > div#cover > div#title > h2 {
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
}

main > div#cover > div#title > div#rule {
    border-bottom: 3px solid #FFFFFF;
}

/* MEDIA-QUERY PARA DISPOSITIVOS */

/* DISPOSITIVOS GRANDES */

@media screen and (min-width: 700px) {
    header > div.container > div.d-flex > nav {
        display: block;
    }

    header > div.container > div.d-flex > button {
        display: none;
    }



    main > div#cover {
        background-position: center;
        height: 70vh;
    }

    main > div#cover > div#title > h2 {
        font-size: 42px;
    }

    main > div#cover > div#title > div.container {
        max-width: 250px;
    }
}

/* DISPOSITIVOS PEQUENOS */

@media screen and (max-width: 700px) {
    header > div.container > div.d-flex > nav {
        display: none;
    }

    header > div.container > div.d-flex > button {
        display: flex;
    }



    main > div#cover {
        background-position: right bottom;
        height: 40vh;
    }

    main > div#cover > div#title > h2 {
        font-size: 35px;
    }

    main > div#cover > div#title > div.container {
        max-width: 210px;
    }
}