@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

:root {
    --default-font: 'Rethink Sans', sans-serif;
    --color-font: #424242;

    --color01: #03A65A;
    --color02: #0ABF6A;
    --color03: #86D95F;
    --color04: #C2F279;
    --color05: #D8F2A0;

    --color-header: #FFFFFF;
}

/* CONFIGURAÇÕES GLOBAIS */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--default-font);
    background-color: #e0e0e0;
}

/* HEADER */

header {
    background-color: var(--color-header);
    display: flex;
    align-items: center;
    margin: 0px auto;
    padding: 10px 0px;
}

/* LOGO */

header > div.container > div.d-flex > a#logo > img {
    width: 115px;
}

/* NAVEGADOR */

header > div.container > div.d-flex > nav > ul {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
    gap: 24px;
}

header > div.container > div.d-flex > nav > ul > li.nav-item > a {
    color: var(--color-font);
    text-decoration: none;
    padding-block: 20px;
}

header > div.container > div.d-flex > nav > ul > li.nav-item > a:hover {
    color: var(--color02);
    transition: 0.5s;
}

/* SUB-NAVEGADOR */

header > div.container > div.d-flex > nav > ul > li.nav-item > ul {
    background-color: var(--color02);
    display: none;
    list-style: none;
    position: absolute;
    z-index: 100;

    padding: 8px;
    border-radius: 8px;
    box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.10);
}

header > div.container > div.d-flex > nav > ul > li.nav-item > ul::before {
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 17px solid var(--color02);
    content: "";
    width: 0;
    height: 0;
    top: -15px;
    left: 20px;
}

header > div.container > div.d-flex > nav > ul > li.nav-item > ul > li.nav-item {
    margin: 8px 0px;
}

header > div.container > div.d-flex > nav > ul > li.nav-item > ul > li.nav-item > a {
    color: var(--color-header);
    text-decoration: none;
    margin: 0px 10px;
}

header > div.container > div.d-flex > nav > ul > li.nav-item > ul > li.nav-item > a:hover {
    text-decoration: underline;
}


/* LOGIN */

header > div.container > div.d-flex > a#login > svg:hover {
    fill: var(--color02);
    transition: 0.75s;
}

/* MENU OFFCANVAS */

header > div.container > div.d-flex > button {
    background-color: var(--color-header);
    border: none;
    display: flex;
    align-items: center;
    margin: 0px 10px;
}

header > div.container > div.d-flex > div.offcanvas {
    max-width: 75%;
}

header > div.container > div.d-flex > div.offcanvas > div.offcanvas-body {
    position: relative;
}

header > div.container > div.d-flex > div.offcanvas > div.offcanvas-body > ul.navbar-nav > li > ul {
    background-color: var(--color02);
    list-style: none;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

header > div.container > div.d-flex > div.offcanvas > div.offcanvas-body > ul.navbar-nav > li > ul > li.nav-item {
    margin: 8px 0px;
}

header > div.container > div.d-flex > div.offcanvas > div.offcanvas-body > ul.navbar-nav > li > ul > li.nav-item > a {
    color: var(--color-header);
    text-decoration: none;
    margin: 0px 10px;
}

header > div.container > div.d-flex > div.offcanvas > div.offcanvas-body > ul.navbar-nav > li > ul > li.nav-item > a:hover {
    text-decoration: underline;
}

header > div.container > div.d-flex > div.offcanvas > div.offcanvas-body > ul.navbar-nav > li > a:hover {
    color: var(--color02);
    transition: 0.5s;
}

header > div.container > div.d-flex > div.offcanvas > div.offcanvas-body > a#login {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

header > div.container > div.d-flex > div.offcanvas > div.offcanvas-body > a#login > svg:hover {
    fill: var(--color02);
    transition: 0.5s;
}

/* MEDIA-QUERY PARA DISPOSITIVOS */

/* DISPOSITIVOS GRANDES */

@media screen and (min-width: 992px) {
    header > div.container > div.d-flex > nav {
        display: block;
    }

    header > div.container > div.d-flex > button {
        display: none;
    }

    header > div.container > div.d-flex > a#login {
        display: inline;
    }
}

/* DISPOSITIVOS PEQUENOS */

@media screen and (max-width: 992px) {
    header > div.container > div.d-flex > nav {
        display: none;
    }

    header > div.container > div.d-flex > button {
        display: flex;
    }

    header > div.container > div.d-flex > a#login {
        display: none;
    }
}