@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

:root {
    --default-font: 'Rethink Sans', sans-serif;
    --color-font: #424242;

    --color01: #03A65A;
    --color02: #0ABF6A;
    --color03: #86D95F;
    --color04: #C2F279;
    --color05: #D8F2A0;

    --color-header: #FFFFFF;
}

/* CONFIGURAÇÕES GLOBAIS */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--default-font);
    background-color: #e0e0e0;
}

/* HEADER */

header {
    background-color: var(--color-header);
    display: flex;
    align-items: center;
    margin: 0px auto;
    padding: 10px 0px;
}

/* LOGO */

header > div.container > div.d-flex > a#logo > img {
    width: 115px;
}

/* NAVEGADOR */

header > div.container > div.d-flex {
    position: relative;
}

header > div.container > div.d-flex > nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

header > div.container > div.d-flex > nav > ul {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
    gap: 24px;
}

header > div.container > div.d-flex > nav > ul > li.nav-item > a {
    color: var(--color-font);
    text-decoration: none;
    padding-block: 20px;
    font-size: 16.5px;
}

header > div.container > div.d-flex > nav > ul > li.nav-item > a:hover {
    color: var(--color02);
    transition: 0.5s;
}

/* SUB-NAVEGADOR */

header > div.container > div.d-flex > nav > ul > li.nav-item > ul {
    background-color: var(--color02);
    display: none;
    list-style: none;
    position: absolute;
    z-index: 100;

    padding: 8px;
    border-radius: 8px;
    box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.10);
}

header > div.container > div.d-flex > nav > ul > li.nav-item > ul::before {
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 17px solid var(--color02);
    content: "";
    width: 0;
    height: 0;
    top: -15px;
    left: 20px;
}

header > div.container > div.d-flex > nav > ul > li.nav-item > ul > li.nav-item {
    margin: 8px 0px;
}

header > div.container > div.d-flex > nav > ul > li.nav-item > ul > li.nav-item > a {
    color: var(--color-header);
    text-decoration: none;
    margin: 0px 10px;
}

header > div.container > div.d-flex > nav > ul > li.nav-item > ul > li.nav-item > a:hover {
    text-decoration: underline;
}

/* MENU OFFCANVAS */

header > div.container > div.d-flex > button {
    background-color: var(--color-header);
    border: none;
    display: flex;
    align-items: center;
    margin: 0px 10px;
}

header > div.container > div.d-flex > div.offcanvas {
    max-width: 75%;
}

header > div.container > div.d-flex > div.offcanvas > div.offcanvas-body {
    position: relative;
}

header > div.container > div.d-flex > div.offcanvas > div.offcanvas-body > ul.navbar-nav > li > ul {
    background-color: var(--color02);
    list-style: none;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

header > div.container > div.d-flex > div.offcanvas > div.offcanvas-body > ul.navbar-nav > li > ul > li.nav-item {
    margin: 8px 0px;
}

header > div.container > div.d-flex > div.offcanvas > div.offcanvas-body > ul.navbar-nav > li > ul > li.nav-item > a {
    color: var(--color-header);
    text-decoration: none;
    margin: 0px 10px;
}

header > div.container > div.d-flex > div.offcanvas > div.offcanvas-body > ul.navbar-nav > li > ul > li.nav-item > a:hover {
    text-decoration: underline;
}

header > div.container > div.d-flex > div.offcanvas > div.offcanvas-body > ul.navbar-nav > li > a:hover {
    color: var(--color02);
    transition: 0.5s;
}

/* CAPA */

main > div.cover {
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

main > div.cover > div#title > h2 {
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;

    animation: fadeInDown;
    animation-duration: 0.75s;
}

main > div.cover > div#title > div#rule {
    border-bottom: 3px solid #FFFFFF;

    animation: zoomIn;
    animation-duration: 0.75s;
}

main > div.cover > div#title > div.container {
    max-width: 75%;
}

/* CONTEÚDO */

main > div.content {
    background-color: #FFFFFF;
    color: #424242;
    padding: 24px;
}

main > div.content > div.container {
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
}

main > div.content > div.container > h2 {
    font-size: 1.60rem;
    margin-bottom: 1.75rem;
}

main > div.content > div.container > p {
    text-align: justify;
    text-indent: 2.5rem;
    font-size: 1.10rem;
}

main > div.content > div.container > p > a {
    color: #424242;
    text-decoration: none;
}

main > div.content > div.container > p > a:hover {
    color: var(--color02);
    transition: 0.5s;
}

main > div.content > div.container > p > a:hover > svg {
    fill: var(--color02);
    transition: 0.5s;
}

/* FOOTER */

footer {
    background-image: url('../static/images/Terra.png');
    background-size: cover;
    background-position: bottom;
    color: var(--color-header);
    box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.15);
    padding: 64px;
}

footer > div.container > div.row > div.col-md-2 {
    padding: 16px;
}

footer > div.container > div.row > div.col-md-2 > a > img {
    width: 130px;
    margin: 8px 0px;
}

footer > div.container > div.row > div.col-md-9 {
    padding: 16px;
}

footer > div.container > div.row > div.col-md-9 > div.row > div.col-md-3 {
    margin-bottom: 24px;
}

footer > div.container > div.row > div.col-md-9 > div.row > div.col-md-3 > h5 {
    font-weight: bold;
}

footer > div.container > div.row > div.col-md-9 > div.row > div.col-md-3 > ul.nav > li.nav-item {
    margin-bottom: 4px;
}

footer > div.container > div.row > div.col-md-9 > div.row > div.col-md-3 > ul.nav > li.nav-item > a {
    color: var(--color-header);
    text-decoration: none;
}

footer > div.container > div.row > div.col-md-9 > div.row > div.col-md-3 > ul.nav > li.nav-item > a:hover {
    text-decoration: underline;
}

footer > div.container > div.row > div.col-md-12 > h5 {
    font-weight: bold;
    margin-bottom: 16px;
}

footer > div.container > div.row > div.col-md-12 > div.d-flex {
    flex-wrap: wrap;
    background-color: #ffffff50;
    border-radius: 8px;
    margin: auto;
    gap: 32px;
}

footer > div.container > div.row > div.col-md-12 > div.d-flex > a > img {
    width: 130px;
    margin: 8px 0px;
}

footer > div.container > div#endrow {
    margin-top: 16px;
    border-top: 1px solid var(--color-header) !important;
}

footer > div.container > div#endrow > p.text-center {
    padding-top: 24px;
}

footer > div.container > div#endrow > p.text-center > a {
    color: var(--color-header);
    text-decoration: none;
}

footer > div.container > div#endrow > p.text-center > a:hover {
    text-decoration: underline;
}

/* MEDIA-QUERY PARA DISPOSITIVOS */

/* DISPOSITIVOS GRANDES */

@media screen and (min-width: 768px) {
    main > div#cover-01 {
        background-position: center;
        height: 65vh;
    }

    main > div#cover-01 > div#title > h2 {
        font-size: 42px;
    }

    footer > div.container > div.row > div.col-md-2 {
        text-align: left;
    }

    footer > div.container > div.row > div.col-md-12 > div.d-flex {
        padding: 8px 0px;
    }
}

@media screen and (min-width: 992px) {
    header > div.container > div.d-flex > nav {
        display: flex;
    }

    header > div.container > div.d-flex > button {
        display: none;
    }
}

/* DISPOSITIVOS PEQUENOS */

@media screen and (max-width: 768px) {
    main > div#cover-01 {
        background-position: right bottom;
        height: 42vh;
    }

    main > div#cover-01 > div#title > h2 {
        font-size: 35px;
    }

    footer > div.container > div.row > div.col-md-2 {
        text-align: center;
    }

    footer > div.container > div.row > div.col-md-12 > div.d-flex {
        padding: 24px 0px 16px 0px;
    }
}

@media screen and (max-width: 992px) {
    header > div.container > div.d-flex > nav {
        display: none;
    }

    header > div.container > div.d-flex > button {
        display: flex;
    }
}