{% extends 'default.html' %}

{% block conteudo %}
    <div id="cover">
        <div id="title">
            <h2>Quem Somos</h2>
            <div class="container" id="rule"></div>
        </div>
    </div>

    <div class="content">
        <div class="carousel carousel-dark slide" id="caroulselExampleDark" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#caroulselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#caroulselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>

            <div class="carousel-inner">
                <div class="carousel-item active"  data-bs-interval="4000">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img  class="img-fluid rounded-start" src="../static/images/membros/gustavo_martins.jpg" alt="Gustavo Martins">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Gustavo Corrêa</h5>
                                    <p class="card-text"><small class="text-body-secondary">Desenvolvedor Web</small></p>
                                    <p class="card-text">Graduando de Engenharia da Computação pela Universidade do Estado de Minas Gerais (UEMG) - Unidade Ituiutaba. Desenvolvedor do Projeto de Pesquisa DataCana.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" data-bs-interval="4000">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img  class="img-fluid rounded-start" src="../static/images/membros/pedro_henrique.jpg" alt="Desenvolvedor Web">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Pedro Kourly</h5>
                                    <p class="card-text"><small class="text-body-secondary">Desenvolvedor Web</small></p>
                                    <p class="card-text">Graduando de Ciência da Computação pelo Instituto Federal do Triângulo Mineiro (IFTM) - Campus Ituiutaba. Desenvolvedor do Projeto de Pesquisa DataCana.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#caroulselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#caroulselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
{% endblock %}

{% block estilo %}
    <style>
        /* CAPA */

        main > div#cover {
            display: flex;
            background-image: url('../static/images/Capa.jpg');
            background-size: cover;
            align-items: center;
            justify-content: center;
        }

        main > div#cover > div#title > h2 {
            color: #FFFFFF;
            text-align: center;
            font-weight: bold;

            animation: fadeInDown;
            animation-duration: 0.75s;
        }

        main > div#cover > div#title > div#rule {
            border-bottom: 3px solid #FFFFFF;

            animation: zoomIn;
            animation-duration: 0.75s;
        }

        /* CARROSEL */

        main > div.content {
            background-color: #FFFFFF;
            margin: 25px 0px;
            padding: 40px;
        }

        main > div.content > div.carousel > div.carousel-indicators {
            margin-bottom: -22px;
        }

        main > div.content > div.carousel > div.carousel-inner > div.carousel-item {
            margin-bottom: 16px;
        }

        main > div.content > div.carousel > div.carousel-inner > div.carousel-item > div.card {
            margin: 0px auto;
        }

        main > div.content > div.carousel > div.carousel-inner > div.carousel-item > div.card > div.row > div.col-md-8 > div.card-body > h5.card-title {
            margin-bottom: 0px;
        }

        /* MEDIA-QUERY PARA DISPOSITIVOS */

        /* DISPOSITIVOS GRANDES */

        @media screen and (min-width: 700px) {
            header > div.container > div.d-flex > nav {
                display: block;
            }

            header > div.container > div.d-flex > button {
                display: none;
            }

            /* M-Q CAPA */

            main > div#cover {
                background-position: center;
                height: 70vh;
            }

            main > div#cover > div#title > h2 {
                font-size: 42px;
            }

            main > div#cover > div#title > div.container {
                max-width: 250px;
            }

            /* M-Q CARROSEL */

            main > div.content > div.carousel > div.carousel-inner > div.carousel-item > div.card {
                max-width: 780px;
            }

            main > div.content > div.carousel > button.carousel-control-prev {
                margin: 0px 1em;
            }

            main > div.content > div.carousel > button.carousel-control-next {
                margin: 0px 1em;
            }
        }

        /* DISPOSITIVOS PEQUENOS */

        @media screen and (max-width: 700px) {
            header > div.container > div.d-flex > nav {
                display: none;
            }

            header > div.container > div.d-flex > button {
                display: flex;
            }

            /* M-Q CAPA */

            main > div#cover {
                background-position: right bottom;
                height: 40vh;
            }

            main > div#cover > div#title > h2 {
                font-size: 35px;
            }

            main > div#cover > div#title > div.container {
                max-width: 210px;
            }

            /* M-Q CARROSEL */

            main > div.content > div.carousel > div.carousel-inner > div.carousel-item > div.card {
                max-width: 280px;
            }

            main > div.content > div.carousel > button.carousel-control-prev {
                margin-left: -2.25em;
            }

            main > div.content > div.carousel > button.carousel-control-next {
                margin-right: -2.25em;
            }
        }
    </style>
{% endblock %}