{% extends 'default.html' %}

{% block conteudo %}
    <div id="cover">
        <div id="title">
            <h2>Projeto DataCana</h2>
            <div class="container" id="rule"></div>
        </div>
    </div>
{% endblock %}

{% block estilo %}
    <style>
        /* MAIN */

        main > div#cover {
            display: flex;
            background-image: url('../static/images/Capa.jpg');
            background-size: cover;
            align-items: center;
            justify-content: center;
        }

        main > div#cover > div#title > h2 {
            color: #FFFFFF;
            text-align: center;
            font-weight: bold;

            animation: fadeInDown;
            animation-duration: 0.75s;
        }

        main > div#cover > div#title > div#rule {
            border-bottom: 3px solid #FFFFFF;

            animation: zoomIn;
            animation-duration: 0.75s;
        }

        /* MEDIA-QUERY PARA DISPOSITIVOS */

        /* DISPOSITIVOS GRANDES */

        @media screen and (min-width: 700px) {
            header > div.container > div.d-flex > nav {
                display: block;
            }

            header > div.container > div.d-flex > button {
                display: none;
            }



            main > div#cover {
                background-position: center;
                height: 70vh;
            }

            main > div#cover > div#title > h2 {
                font-size: 42px;
            }

            main > div#cover > div#title > div.container {
                max-width: 250px;
            }
        }

        /* DISPOSITIVOS PEQUENOS */

        @media screen and (max-width: 700px) {
            header > div.container > div.d-flex > nav {
                display: none;
            }

            header > div.container > div.d-flex > button {
                display: flex;
            }



            main > div#cover {
                background-position: right bottom;
                height: 40vh;
            }

            main > div#cover > div#title > h2 {
                font-size: 35px;
            }

            main > div#cover > div#title > div.container {
                max-width: 210px;
            }
        }
    </style>
{% endblock %}