{% extends 'default.html' %}

{% block conteudo %}
    <div id="cover">
        <div id="title">
            <h2>Projeto DataCana</h2>
            <div class="container" id="rule"></div>
        </div>
    </div>

    <div class="content">
        
    </div>
{% endblock %}

{% block estilo %}
    <style>
        /* CAPA */

        main > div#cover {
            display: flex;
            background-image: url('../static/images/Capa.jpg');
            background-size: cover;
            align-items: center;
            justify-content: center;
        }

        main > div#cover > div#title > h2 {
            color: #FFFFFF;
            text-align: center;
            font-weight: bold;

            animation: fadeInDown;
            animation-duration: 0.75s;
        }

        main > div#cover > div#title > div#rule {
            border-bottom: 3px solid #FFFFFF;

            animation: zoomIn;
            animation-duration: 0.75s;
        }

        main > div#cover > div#title > div.container {
            max-width: 75%;
        }

        /* CONTEÚDO */

        main > div.content {
            background-color: #FFFFFF;
            margin: 25px 0px;
            padding: 40px;
        }

        /* MEDIA-QUERY PARA DISPOSITIVOS */

        /* DISPOSITIVOS GRANDES */

        @media screen and (min-width: 768px) {
            main > div#cover {
                background-position: center;
                height: 65vh;
            }

            main > div#cover > div#title > h2 {
                font-size: 42px;
            }
        }

        /* DISPOSITIVOS PEQUENOS */

        @media screen and (max-width: 768px) {
            main > div#cover {
                background-position: right bottom;
                height: 42vh;
            }

            main > div#cover > div#title > h2 {
                font-size: 35px;
            }
        }
    </style>
{% endblock %}