{% extends 'default.html' %}

{% block conteudo %}
    <div id="cover">
        <div id="title">
            <h2>Termos de Uso</h2>
            <div class="container" id="rule"></div>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <h2><strong>Termos de Uso</strong></h2>

            <p>Todos os dados disponibilizados na plataforma DataCana são <strong>públicos, abertos</strong> e <strong>gratuitos</strong>, e estão registrados pela licença <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="external">Creative Commons CC-BY-SA<svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#424242" style="padding-bottom: 2px;"><path d="M216-144q-29.7 0-50.85-21.15Q144-186.3 144-216v-528q0-29.7 21.15-50.85Q186.3-816 216-816h264v72H216v528h528v-264h72v264q0 29.7-21.15 50.85Q773.7-144 744-144H216Zm171-192-51-51 357-357H576v-72h240v240h-72v-117L387-336Z"/></svg></a> desde que o DataCana seja citado como a fonte de referência de dados, conforme modelo abaixo: <b><i>(Substituir o texto em negrito)</i></b></p>

            <p>"DataCana - Monitoramento da cana-de-açúcar por meio do sensoriamento remoto e geoprocessamento. Dados no formato de <b>(tabela/gráfico/mapa)</b> do <b>(município, região imediata/região intermediária)</b> de Minas Gerais, Brasil, <b>(ano)</b>. Disponível em: www.datacana.org. Acesso em: <b>XX mês</b> 20<b>XX</b>."</p>
        </div>
    </div>
{% endblock %}

{% block estilo %}
    <style>
        /* CAPA */

        main > div#cover {
            display: flex;
            background-image: url('../static/images/Capa.jpg');
            background-size: cover;
            align-items: center;
            justify-content: center;
        }

        main > div#cover > div#title > h2 {
            color: #FFFFFF;
            text-align: center;
            font-weight: bold;

            animation: fadeInDown;
            animation-duration: 0.75s;
        }

        main > div#cover > div#title > div#rule {
            border-bottom: 3px solid #FFFFFF;

            animation: zoomIn;
            animation-duration: 0.75s;
        }

        main > div#cover > div#title > div.container {
            max-width: 75%;
        }

        /* CONTEÚDO */

        main > div.content {
            background-color: #FFFFFF;
            color: #424242;
            margin: 25px 0px;
            padding: 24px;
        }

        main > div.content > div.container {
            margin-top: 2.25rem;
            margin-bottom: 2.25rem;
        }

        main > div.content > div.container > h2 {
            font-size: 1.60rem;
            margin-bottom: 1.75rem;
        }

        main > div.content > div.container > p {
            text-align: justify;
            text-indent: 2.5rem;
            font-size: 1.10rem;
        }

        main > div.content > div.container > p > a {
            color: #424242;
            text-decoration: none;
        }

        main > div.content > div.container > p > a:hover {
            text-decoration: underline;
        }

        /* MEDIA-QUERY PARA DISPOSITIVOS */

        /* DISPOSITIVOS GRANDES */

        @media screen and (min-width: 768px) {
            main > div#cover {
                background-position: center;
                height: 65vh;
            }

            main > div#cover > div#title > h2 {
                font-size: 42px;
            }
        }

        /* DISPOSITIVOS PEQUENOS */

        @media screen and (max-width: 768px) {
            main > div#cover {
                background-position: right bottom;
                height: 42vh;
            }

            main > div#cover > div#title > h2 {
                font-size: 35px;
            }
        }
    </style>
{% endblock %}