/* Page: Platform StyleSheet */

/* 

INDEX

    1. NavBar
        1.1. Logo
    
*/

/* 1. NavBar */

div.Platform > div.navBar {
    background-color: var(--color-header);

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8px 0px;
}

/* 1.1. NavBar > Logo */

div.Platform  > div.navBar > a.logo > img {
    width: 112px;
}